<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Login Signup Form</title>
  <link rel="stylesheet" href="static/style.css">
</head>
<body>
<div class="wrapper">
  <div class="title-text">
    <div class="title login">Login</div>
    <div class="title signup">Sign up</div>
  </div>
  <div class="form-container">
    <div class="slide-controls">
      <input type="radio" name="slide" id="login" checked>
      <input type="radio" name="slide" id="signup">
      <label for="login" class="slide login">Login</label>
      <label for="signup" class="slide signup">Sign up</label>
      <div class="slider-tab"></div>
    </div>
    <div class="form-inner">
      <!-- Login Form -->
      <form action="/login" method="POST" class="login">
        <div class="field">
          <input type="text" name="email" placeholder="Email Address" required>
        </div>
        <div class="field">
          <input type="password" name="password" placeholder="Password" required>
        </div>
        <div class="pass-link"><a href="#">Forgot password?</a></div>
        <div class="field btn">
          <div class="btn-layer"></div>
          <input type="submit" value="Login">
        </div>
        <div class="signup-link">Don't have an account? <a href="#">Sign up</a></div>
      </form>

      <!-- Signup Form -->
      <form action="/signup" method="POST" class="signup">
        <div class="field">
          <input type="text" name="name" placeholder="Name" required>
        </div>
        <div class="field">
          <input type="text" name="email" placeholder="Email Address" required>
        </div>
        <div class="field">
          <input type="password" name="password" placeholder="Password" required>
        </div>
        <div class="field">
          <input type="password" name="confirm_password" placeholder="Confirm password" required>
        </div>
        <div class="field btn">
          <div class="btn-layer"></div>
          <input type="submit" value="Sign up">
        </div>
        <div class="signup-link">Already have an account? <a href="#">Login</a></div>
      </form>
    </div>
  </div>
</div>
<script src="static/script.js"></script>
</body>
</html>
